In [95]:
from IPython.display import display, Markdown

In [96]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [97]:
print(10)
print(type(10))

10
<class 'int'>

In [98]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [99]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [100]:
print('')

In [101]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [102]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

In [103]:
n = 300

In [104]:
print(n)

300

In [105]:
n

300

In [106]:
n = 1000
print(n)

n

1000

1000

In [107]:
a = b = c = 300
print(a, b, c)

300 300 300

In [108]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [109]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [110]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

In [111]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [112]:
a = 10
b = 20
a + b

30

In [113]:
a = 10
b = 20
a + b - 5

25

# This is an example snippet!
# To create your own, add a new snippet block to the
# snippets.json file in your jupyter nbextensions directory:
# /nbextensions/snippets/snippets.json

# Here are some examples of these operators in use:

In [114]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [115]:
10 / 5

2.0

# Here are examples of the comparison operators in use:

In [116]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)


a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

# + Operators

In [117]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

# * Operators

In [118]:
s = 'foo.'

s * 4

'foo.foo.foo.foo.'

# in Operators

In [119]:
s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [120]:
display(Markdown("# Case Conversion"))
s = 'HackTIV8'

display(Markdown("# Capitalize"))
print(s.capitalize())

display(Markdown("# Lower"))
print(s.lower())

display(Markdown("# Swapcase"))
print(s.swapcase())

display(Markdown("# Title"))
print(s.title())

display(Markdown("# Uppercase"))
print(s.upper())

# Case Conversion

# Capitalize

Hacktiv8

# Lower

hacktiv8

# Swapcase

hACKtiv8

# Title

Hacktiv8

# Uppercase

HACKTIV8

In [121]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [122]:
['foo', 'bar', 'baz', 'qux']

['foo', 'bar', 'baz', 'qux']

In [123]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [124]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [125]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [126]:
print(a[0])
print(a[5])

foo
corge

In [127]:
print(a[-1])
print(a[-6])

corge
foo

In [128]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [129]:

display(Markdown("# The concatenation (+) and replication (*) operators:"))

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

# The concatenation (+) and replication (*) operators:

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [130]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [131]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [132]:
# A list item can be deleted with the del command:

del a[3]

In [133]:
print(a)

['foo', 'bar', 10, 'quux', 20]

In [134]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [135]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [136]:
print(t[0])

print(t[-1])

foo
corge

In [137]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

In [138]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [139]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [140]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [141]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [142]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [143]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [144]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [145]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [146]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [147]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [148]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [149]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [150]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True